<html>
<head>
    <title>Places Visited</title>
</head>
<body>
    <h1>You created a place!</h1>
    <p>{{ new_place.getLocation }}</p>
    <p><a href='/'>View your list of places</a></p>
</body>
</html>
